.options-container {
  float: right;
  width: 280px;
  padding: 12px;
  height: 100%;
  box-sizing: border-box;
  background: #fbfbfb;
  overflow: auto;
}

input {
  padding: 4px 6px;
}

input[type=button] {
  margin-top: 6px;
  display: block;
}
