<div class="full-width full-height d-flex">
  <!-- 左侧导航栏 -->
  <div style="width: 240px;" class="full-height overflow-y">
    <ul nz-menu nzMode="inline" class="full-width">
      <li nz-submenu  nzTitle="功能例子" nzIcon="appstore">
        <ul>
          <li nz-submenu nzTitle="工作簿">
            <ul>
              <li nz-menu-item>
                <a routerLink="/functional/workbook/initialization-spread" routerLinkActive="active">初始化Spread</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/functional/workbook/spread-form" routerLinkActive="active">Spread表单</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- 右侧内容区域 -->
  <div class="full-height flex-1">
    <router-outlet></router-outlet>
  </div>
</div>

