<div class="full-width full-height d-flex">
  <!-- 左侧导航栏 -->
  <div style="width: 240px;" class="full-height overflow-y">
    <ul nz-menu nzMode="inline" class="full-width">
      <li nz-submenu  nzTitle="功能例子" nzIcon="appstore">
        <ul>
          <li nz-submenu nzTitle="工作簿">
            <ul>
              <li nz-menu-item>
                <a routerLink="/functional/workbook/initialization-spread" routerLinkActive="active">初始化Spread</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/functional/workbook/spread-form" routerLinkActive="active">Spread表单</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/functional/workbook/export-import" routerLinkActive="active">导入导出</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="表单">
            <ul>
              <li nz-menu-item>
                <a routerLink="/functional/form/initialization-form" routerLinkActive="active">初始化表单</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/functional/form/row-and-column" routerLinkActive="active">行与列</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="公式函数">
            <ul>
              <li nz-menu-item>
                <a routerLink="/functional/formula-function/basic-function" routerLinkActive="active">基本函数</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/functional/formula-function/indirect" routerLinkActive="active">INDIRECT 函数</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/functional/formula-function/aggregate" routerLinkActive="active">AGGREGATE 函数</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/functional/formula-function/wildcard" routerLinkActive="active">函数使用通配符</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="图表">
            <ul>
              <li nz-menu-item>
                <a routerLink="/functional/chart/basic-application" routerLinkActive="active">基本应用</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- 右侧内容区域 -->
  <div class="full-height flex-1">
    <router-outlet></router-outlet>
  </div>
</div>

